/* #region common */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary:#808285;
    --border: #D4D4D8;
    --color-base: #808285;
    --back-base: #fff;
    --color-silver: #ABADB1;
    --back-silver: #F3F4F6;
    --color-gold: #BCB2A2;
    --back-gold: #F5F2ED;
    --color-platinum: #fff;
    --back-platinum: #B6B1A9;
    --back: #F4F4F5;
    --secondary: #A1A1AA;
    --primary2: #636466;

}
html,
body {
    scrollbar-gutter: stable;
}
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: var(--primary);
    margin: 0;
    padding: 0;
}
button {
    border: none;
    background: none;
    padding: 0;
}
.remove-scrolling { 
    overflow: hidden; 
    height: 100vh;
} 
.container {
    position: relative;
    width: calc(1920px - 40px * 2);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title {
    color: var(--primary);
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.02px;
    margin-bottom: 36px;
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
    .container {
        padding: 0 40px;
    }
    .section-title {
        font-size: 58px;
        line-height: 100%;
        margin-bottom: 40px;
        text-align: center;
    }  
}

@media (min-width: 1400px) {
    .section-title {
        font-size: 88px;
        margin-bottom: 60px;
    } 
}
/* #endregion common */

/* #region header */
.header {
    position: relative;
}
.header__wrapper {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
}
.header__burger {
    width: 25px;
    height: 25px;
    background: url('data:image/svg+xml, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.799805 12.8H19.1998M19.1998 7.2H0.799805" stroke="%23636466"/></svg>') no-repeat center center;
    cursor: pointer;
}
.header__burger_open {
    background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16699 4.16667L10.0003 10M10.0003 10L15.8337 15.8333M10.0003 10L15.8337 4.16667M10.0003 10L4.16699 15.8333" stroke="%23636466" stroke-linejoin="round"/></svg>') no-repeat center center;
}
.nav-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    display: none;
}
.nav-brands__item {
}
.header__logo {
    justify-self: center;
}
.header__logo-img {
    max-height: 26px;
}
.header__nav-control {
    justify-self: end;
}
.nav-control {
    display: flex;
    align-items: center;
    gap: 20px;    
}
.nav-control__item {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 136%;
    text-decoration: none;
}
.nav-control__count {
    position: absolute;
    right: -8px;
    top: -4px;
    background-color: #fff;
    color: var(--primary);
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    font-weight: 500;
    font-size: 10px;
    line-height: 132%;   
}
.nav-control__item_doc {
    display: none;
}
.nav-control__item_personal span {
    display: none;
}
.nav-control__item_cart {
    position: relative;
}
@media (min-width: 992px) {
    .header__burger {
        display: none;
    }
    .nav-brands {
        display: flex;
    }
    .header__nav-control {
        gap: 28px;
    }
    .nav-control__item_doc {
        display: flex;
    }
    .nav-control__item_personal span {
        display: inline;
    }
}
@media (min-width: 1400px) {
    .header {
    }
    .header__wrapper {
        height: 76px;
    }
    .nav-brands {
        gap: 54px;
    }
    .header__logo img {
        max-height: unset;
    }
    .header__nav-control {
        gap: 42px;
    }
    .nav-control__item {
        gap: 10px;
        font-size: 18px;
    }
}
/* #endregion header */

/* #region mob-menu */
.mob-menu {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: 30px 15px;
    transition: opacity .25s ease;
    z-index: 1;
}
.mob-menu_open {
    visibility: visible;
    opacity: 1;
}
.mob-menu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.mob-menu__block {
}
.mob-menu__header {
    color: var(--primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 146%;
    margin-bottom: 15px;
}
.mob-menu__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mob-menu__item {
    color: var(--primary);    
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    text-decoration: none;
}
.footer-menu__nav {
}
.mob-menu__assistant {    
}
.mob-menu-assistant {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
    text-decoration: none;     
}
.mob-menu-assistant__title {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    width: 100%;
    text-align: center;    
}
.mob-menu-assistant__icon {
    width: 40px;
    height: 100%;
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.88266 11.1774C7.47788 9.65985 11.0829 8.16564 14.6974 6.69492C19.8467 4.63534 20.5633 4.33472 21.2594 4.32422C21.5585 4.33365 21.8463 4.44065 22.0793 4.62898C22.3707 4.87766 22.4593 5.03515 22.4841 5.17386C22.507 5.31284 22.5048 5.74581 22.48 5.99255C22.201 8.81281 21.1416 15.3262 20.528 18.4885C20.2678 19.825 19.7555 20.2726 19.2598 20.3163C18.1838 20.4116 17.3659 19.6324 16.323 18.9734C14.6913 17.9433 14.146 17.5642 12.5639 16.5593C10.7317 15.3988 11.4855 14.9946 12.5286 13.9521C12.8013 13.6808 17.3246 9.53839 17.3926 9.16095C17.4505 8.82939 17.4714 8.78601 17.3227 8.6368C17.1718 8.4876 16.9922 8.50611 16.8766 8.53098C16.7113 8.56635 14.2204 10.1474 9.39962 13.2768C8.66019 13.7678 7.99098 14.0063 7.3898 13.9938C6.72885 13.9792 5.45461 13.6332 4.50863 13.3368C3.34565 12.972 2.42253 12.7814 2.50514 12.1638C2.54645 11.8425 3.00471 11.5131 3.88266 11.1774Z" fill="%23808285"/></svg>') no-repeat center center;
    border-left: 1px solid var(--border);
    flex-shrink: 0;    
}
/* #endregion mob-menu */

/* #region footer */
.footer {
    border-top: 1px solid var(--border);
    padding: 15px 0;    
}
.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu"
    "assistant"
    "info"
    "contacts"
    "app"
    "payment";
    row-gap: 32px;
}
.footer__menu {
    grid-area: menu;
}
.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-menu__block {
}
.footer-menu__header {
    color: var(--primary);
    font-weight: 400;
    font-size: 20px;
    line-height: 146%;
    margin-bottom: 15px;
}
.footer-menu__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-menu__item {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    text-decoration: none;
}
.footer__assistant {
    grid-area: assistant;
}
.assistant {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
    text-decoration: none;    
}
.assistant__title {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    width: 100%;
    text-align: center;
}
.assistant__icon {
    width: 40px;
    height: 100%;
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.88266 11.1774C7.47788 9.65985 11.0829 8.16564 14.6974 6.69492C19.8467 4.63534 20.5633 4.33472 21.2594 4.32422C21.5585 4.33365 21.8463 4.44065 22.0793 4.62898C22.3707 4.87766 22.4593 5.03515 22.4841 5.17386C22.507 5.31284 22.5048 5.74581 22.48 5.99255C22.201 8.81281 21.1416 15.3262 20.528 18.4885C20.2678 19.825 19.7555 20.2726 19.2598 20.3163C18.1838 20.4116 17.3659 19.6324 16.323 18.9734C14.6913 17.9433 14.146 17.5642 12.5639 16.5593C10.7317 15.3988 11.4855 14.9946 12.5286 13.9521C12.8013 13.6808 17.3246 9.53839 17.3926 9.16095C17.4505 8.82939 17.4714 8.78601 17.3227 8.6368C17.1718 8.4876 16.9922 8.50611 16.8766 8.53098C16.7113 8.56635 14.2204 10.1474 9.39962 13.2768C8.66019 13.7678 7.99098 14.0063 7.3898 13.9938C6.72885 13.9792 5.45461 13.6332 4.50863 13.3368C3.34565 12.972 2.42253 12.7814 2.50514 12.1638C2.54645 11.8425 3.00471 11.5131 3.88266 11.1774Z" fill="%23808285"/></svg>') no-repeat center center;
    border-left: 1px solid var(--border);
    flex-shrink: 0;
}
.footer__info {
    grid-area: info;
}
.footer-info {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
}
.footer-info__wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.footer-info__copyright {
}
.footer-info__nav {
    display: flex;
    gap: 15px;
}
.footer-info__nav-item {
    color: var(--primary);
}
.footer-info__text {
}
.footer__contacts {
    grid-area: contacts;
}
.footer-contacts {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-contacts__address {
}
.footer-contacts__mail {
    color: var(--primary);
    text-decoration: none;
}
.footer-contacts__phone {
    text-decoration: none;
    color: var(--primary);
}
.footer__app {
    grid-area: app;
}
.app {
}
.app__wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.app__link {
}
.app__text {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
}
.footer__payment {
}
.payment {
    grid-area: payment;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment__item {
}
@media (min-width: 992px) {
    .footer {
        padding: 22px 0 18px 0;    
    }
    .footer__wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "menu menu assistant assistant"
        "info contacts app payment";
        column-gap: 20px;
        row-gap: 90px;
    }
    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-menu__header {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .footer-menu__nav {
        gap: 10px;
    }
    .footer-menu__item {
        font-size: 9px;
    }
    .assistant {
        height: 30px;
        width: 130px;
        justify-self: end;
    }
    .assistant__title {
        font-size: 9px;
    }
    .assistant__icon {
        width: 30px;
    }
    .footer-info {
        font-size: 9px;
    }
    .footer-info__wrapper {
        gap: 10px;
        margin-bottom: 7px;
    }
    .footer-info__nav {
        gap: 10px;
    }
    .footer-contacts {
        font-size: 9px;
        gap: 4px;
    }
    .app__wrapper {
        gap: 7px;
        margin-bottom: 10px;
    }
    .app__text {
        font-size: 9px;
    }
    .app__link img {
        height: 24px;
    }
    .payment {
        align-items: center;
        justify-content: end;
        gap: 10px;
    }
    .payment__item img {
        height: 16px;
    }
}
@media (min-width: 1400px) {
    .footer {
        padding: 32px 0 24px 0;    
    }
    .footer__wrapper {
        row-gap: 128px;
    }
    .footer-menu__header {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .footer-menu__nav {
        gap: 15px;
    }
    .footer-menu__item {
        font-size: 14px;
    }
    .assistant {
        height: 40px;
        width: 200px;
    }
    .assistant__title {
        font-size: 14px;
    }
    .assistant__icon {
        width: 40px;
    }
    .footer-info {
        font-size: 14px;
    }
    .footer-info__wrapper {
        gap: 15px;
        margin-bottom: 10px;
    }
    .footer-info__nav {
        gap: 10px;
    }
    .footer-contacts {
        font-size: 14px;
        gap: 5px;
    }
    .app__wrapper {
        gap: 10px;
        margin-bottom: 15px;
    }
    .app__text {
        font-size: 14px;
    }
    .app__link img {
        height: unset
    }
    .payment {
        gap: 15px;
    }
    .payment__item img {
        height: unset;
    }
}
/* #endregion footer */

/* #region intro */
.intro {
    margin-bottom: 25px;
}
.intro__wrapper {
    background-color: var(--primary);
    padding: 25px 15px;
    text-align: center;
}
.intro__slogan {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01px;
    margin-bottom: 20px;      
}
.intro__logo {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 54px;
}
.intro__message {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01px;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 28px;
}
.intro__link {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid #fff;
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    text-decoration: none;
    margin-bottom: 54px;
}
.intro__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.intro__nav-item {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    text-decoration: none;
}
.intro__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.intro__gallery-item {

}
.intro__gallery-item img {
    aspect-ratio: 1 / 1;  
    object-fit: cover;
    object-position: top;  
}
@media (min-width: 576px) {
    .intro__message {
        max-width: unset;
    }
    .intro__nav {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .intro__gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .intro__gallery-item img {
        aspect-ratio: unset;  
    }
}

@media (min-width: 992px) {
    .intro {
        margin-bottom: 54px;
    }
    .intro__wrapper {
        padding: 45px 0 20px 0;
    }
    .intro__slogan {
        font-size: 20px;
        margin-bottom: 30px;      
    }
    .intro__logo {
        width: 500px;
        margin-bottom: 45px;
    }
    .intro__message {
        font-size: 20px;
        max-width: unset;
        margin-bottom: 30px;
    }
    .intro__link {
        width: fit-content;
        padding: 0 60px;
        margin-bottom: 58px;
    }
}

@media (min-width: 1400px) {
    .intro {
        margin-bottom: 80px;
    }
    .intro__wrapper {
        padding: 78px 0 20px 0;
    }
    .intro__slogan {
        font-size: 32px;
        margin-bottom: 40px;      
    }
    .intro__logo {
        width: 845px;
        margin-bottom: 70px;
    }
    .intro__message {
        font-size: 22px;
        margin-bottom: 40px;
    }
    .intro__link {
        height: 68px;
        padding: 0 90px;
        font-size: 22px;
        margin-bottom: 82px;
    }
    .intro__nav {
        gap: 104px;
    }
    .intro__nav-item {
        font-size: 18px;
    }
}
/* #endregion intro */

/* #region member */
.member {
    margin-bottom: 80px;
}
.member__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    margin-bottom: 60px;
}
.member__item {
}
.member__number {
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01px; 
    margin-bottom: 14px;    
}
.member__text {
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01px;    
}
.member__message {
    color: var(--primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01px;
    margin-bottom: 30px;
}
.member__link {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    text-decoration: none;
    margin-bottom: 30px;
}
.member__more {
    color: var(--primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01px;
}
@media (min-width: 576px) {
    .member__grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 36px;
    }
}
@media (min-width: 992px) {
    .member {
        padding: 0 10%;
        margin-bottom: 120px;
        text-align: center;
    }
    .member__grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 80px;
    }
    .member__number {
        text-align: left;    
    }
    .member__text {
        text-align: left;
    }
    .member__message {
        max-width: 340px;
        margin-bottom: 36px;
        margin: 0 auto 36px auto;
    }
    .member__link {
        background-color: var(--primary);
        color: #fff;
        border: 1px solid var(--primary);
        height: 50px;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 136%;
        text-decoration: none;
        margin-bottom: 30px;
        padding: 0 60px;
        width: fit-content;
    }
    .member__more {
        max-width: 340px;
        margin: 0 auto;
    }    
}
@media (min-width: 1400px) {
    .member {
        margin-bottom: 180px;
    }
    .member__grid {
        row-gap: 120px;
        margin-bottom: 80px;
    }
    .member__item {
    }
    .member__number {
        font-size: 28px;
    }
    .member__text {
        font-size: 28px;    
    }
    .member__message {
        max-width: 416px;
        font-size: 18px;
        margin-bottom: 60px;
    }
    .member__link {
        height: 68px;
        font-size: 22px;
        padding: 0 90px;
        margin-bottom: 60px;
    }
    .member__more {
        font-size: 18px;
    }
}
/* #endregion member */

/* #region levels */
.levels {
    margin-bottom: 80px;
}
.levels__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}
.levels-item {
    border-radius: 26px;
    padding: 20px;    
}
.levels-item_base {
    color: var(--color-base);
    border: 1px solid var(--border);    
}
.levels-item_base .levels-item__name {
    color: var(--color-base);
}
.levels-item_silver {
    background-color: var(--back-silver);
}
.levels-item_silver .levels-item__name {
    color: var(--color-silver);
}
.levels-item_gold {
    background-color: var(--back-gold);
}
.levels-item_gold .levels-item__name {
    color: var(--color-gold);
}
.levels-item_platinum {
    background-color: var(--back-platinum);
}
.levels-item_platinum .levels-item__name {
    color: var(--color-platinum);
}
.levels-item_platinum .levels-item__text,
.levels-item_platinum .levels-item__percent {
    color: #fff;
}
.levels-item__name {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02px;  
    margin-bottom: 10px;  
}
.levels-item__text {
    color: var(--primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01px;
    margin-bottom: 24px;
}
.levels-item__percent {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01px;
    margin-bottom: 20px;
}
.levels-item__percent span {
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -0.02px;
    margin-right: 5px;
}
.levels-item__img {
}
@media (min-width: 576px) {
    .levels__grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    .levels-item__text {
        min-height: 42px;
    }
    .levels-item__percent {
        min-height: 65px;
    }
}
@media (min-width: 992px) {
    .levels-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 42px;
        padding: 23px 27px;    
    }
    .levels-item__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .levels-item__text {
        margin-bottom: 95px;
    }
    .levels-item__percent {
        margin-bottom: 0;
    }
    .levels-item__img {
        padding-left: 23px;
    }
}
@media (min-width: 1400px) {
    .levels {
        margin-bottom: 120px;
    }
    .levels__grid {
        gap: 20px;
    }
    .levels-item {
        grid-template-columns: 1fr 1fr;
        column-gap: 66px;
        padding: 34px 40px;    
    }
    .levels-item__name {
        font-size: 72px;
        margin-bottom: 30px;  
    }
    .levels-item__text {
        font-size: 22px;
        margin-bottom: 144px;
    }
    .levels-item__percent {
        font-size: 30px;
    }
    .levels-item__percent span {
        font-size: 88px;
    }
    .levels-item__img {
        padding-left: 34px;
    }
}
/* #endregion levels */

/* #region about */
.about {
    margin-bottom: 80px;
}
.about__text {
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01px;
}
.about__text p:not(:last-child) {
    margin-bottom: 15px;
}
@media (min-width: 576px) {
    .about {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .about {
        margin-bottom: 80px;
    }
    .about__text {
        color: var(--primary);
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.01px;
        max-width: 760px;     
        margin: 0 auto;   
    }
    .about__text p:not(:last-child) {
        margin-bottom: 15px;
    }
}
@media (min-width: 1400px) {
    .about {
        margin-bottom: 120px;
    }
    .about__text {
        font-size: 22px;
        max-width: 1060px; 
    }
}
/* #endregion about */

/* #region brands */
.brands {
    text-align: center;
    margin-bottom: 80px;
}
.brands__section-title {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02%;
    margin-bottom: 36px;
}
.brands__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 36px;
}
.brands__item {   
    text-decoration: none;    
}
.brands__image {
    margin-bottom: 16px;
}
.brands__image img {
    display: block;
    max-height: 70px;
    margin: 0 auto;
}
.brands__title {
    color: var(--primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01px;
}
@media (min-width: 576px) {
    .brands {
        padding: 0 10%;
        text-align: center;
    }
    .brands__section-title {
        font-size: 26px;
    }
    .brands__grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 86px;
    }
}
@media (min-width: 992px) {
    .brands {
        padding: 0 20px;
        margin-bottom: 120px;
    }
    .brands__section-title {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .brands__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 36px;
    }
    .brands__item {   
        border-radius: 22px;
        padding: 22px 14px 26px 14px;   
        transition: background-color .5s ease;
    }
    @media (hover: hover) {
        .brands__item:hover {   
            background-color: var(--back-silver);  
        }        
    }
    .brands__image {
        margin-bottom: 20px;
    }
}
@media (min-width: 1400px) {
    .brands {
        padding: 0 50px;
        margin-bottom: 180px;
    }
    .brands__section-title {
        font-size: 40px;
        margin-bottom: 80px;
    }
    .brands__item {   
        padding: 20px 34px;   
    }
    .brands__image {
        margin-bottom: 30px;
    }
    .brands__image img {
        max-height: 80px;
    }
    .brands__title {
        font-size: 20px;
    }
}
/* #endregion brands */

/* #region faq */
.faq {
    margin-bottom: 80px;
}
.faq__wrapper {
    display: flex;
    flex-direction: column;
}
.faq__section-title {
    text-align: left;
}
.faq__programm-link {
    order: 2;
    color: var(--primary);
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01px;
}
.faq__container {
    order: 1;
    margin-bottom: 24px;
}
.loyalty__faq {
    margin-bottom: 40px;
}
.faq__item {
    border-top: 1px solid var(--border);
    padding: 26px 0;
}
.faq__item:last-child {
    border-bottom: 1px solid var(--border);
}
.faq__question {
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.02px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
}
.faq__question::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21V12M12 12V3M12 12L3 12M12 12H21" stroke="%23808285" stroke-linejoin="round"/></svg>') center center;
    transition: transform 0.35s ease-out;  
}
.faq__question_active::after {
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 12L12 12H21" stroke="%23808285" stroke-linejoin="round"/></svg>') center center;
}
.faq__answer {
    color: var(--primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-in-out;  
}
.faq__answer-inner {
    padding-top: 20px;
}
.faq__answer-inner p:not(:last-child) {
    margin-bottom: 20px;
}
.faq__answer_show {
    max-height: 100vh;
}
@media (min-width: 576px) {
    .faq__container {
        margin-bottom: 36px;
    }
}
@media (min-width: 992px) {
    .faq__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
    }
    .section-title {
    }
    .faq__programm-link {
        grid-column-start: 1;
        grid-row-start: 2;    
    }
    .faq__container {
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 1;
    }
}
/* #endregion faq */

/* #region epilog */
.epilog {
    margin-bottom: 30px;
}
.epilog__slogan {
    color: var(--primary);
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02px;
    text-align: center;
    margin-bottom: 24px;
}
.epilog__gallery {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
}
.epilog__gallery-item {
    position: relative;
}
.epilog__gallery-item>img {
    aspect-ratio: 1 / 1;  
    object-fit: cover;
    object-position: top;  
}
.epilog__gallery-logo {
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
}
.epilog__conditions {
    color: var(--primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
}
.epilog__conditions p:not(:last-child) {
    margin-bottom: 15px;
}
@media (min-width: 576px) {
    .epilog__gallery {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
    }
    .epilog__conditions {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .epilog {
        margin-bottom: 34px;
    }
    .epilog__slogan {
        font-size: 36px;
        max-width: 758px;
        margin: 0 auto 30px auto;
    }
    .epilog__gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 34px;
    }
    .epilog__gallery-item>img {
        aspect-ratio: unset;  
    }  
    .epilog__conditions {
        max-width: 684px;
        margin: 0 auto;
    }
}
@media (min-width: 1400px) {
    .epilog {
        margin-bottom: 50px;
    }
    .epilog__slogan {
        font-size: 50px;
        max-width: 1064px;
        margin-bottom: 40px;
    }
    .epilog__gallery {
        margin-bottom: 50px;
    }

    .epilog__conditions {
        max-width: 798px;
        font-size: 14px;
    }
}
/* #endregion epilog */

/* #region documents */
.documents {
    padding-bottom: 40px;
}
.documents__wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
.documents__main {
}
.documents__title {
    color: var(--primary);
    font-weight: 400;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.04px;
    margin: 10px 0 25px 0;
}
.documents__list {
    display: flex;
    flex-direction: column;
}
.documents__item {
    color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2L22 12M22 12L12 22M22 12H2" stroke="%23636466"/></svg>') no-repeat right 10px center;
    border-top: 1px solid var(--border);
    padding: 25px 70px 25px 0;
}
.documents__sidebar {
}
.sidebar {
    display: none;
}
.sidebar__title {
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    padding: 13px 20px;
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 0 30px; 
    margin-bottom: 30px;   
}
.sidebar-menu__item {
    color: var(--primary);
    padding: 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;

}
.sidebar-info {
    background-color: var(--back);
    padding: 30px;    
}
.sidebar-info__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.04px;
    margin-bottom: 8px;
}
.sidebar-info__time,
.sidebar-info__mail-title {
    color: var(--secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    margin-bottom: 5px;
}
.sidebar-info__phone,
.sidebar-info__mail,
.sidebar-info__store {
    display: block;
    color: var(--primary2);
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    margin-bottom: 16px;
    text-decoration: none;
}
.sidebar-info__store {
    padding-left: 24px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75736 2.69826C6.10051 0.433914 9.89949 0.433914 12.2426 2.69826C14.5858 4.96334 14.5858 8.63507 12.2426 10.8994L7.99963 15L3.75736 10.8994C1.41421 8.63507 1.41421 4.96334 3.75736 2.69826ZM8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7C6 8.10457 6.89543 9 8 9Z" stroke="%23636466" stroke-linejoin="round"/></svg>') no-repeat left center;
}
.sidebar-info-assistant {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
    text-decoration: none;      
}
.sidebar-info-assistant__title {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    width: 100%;
    text-align: center;      
}
.sidebar-info-assistant__icon {
    width: 40px;
    height: 100%;
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.88266 11.1774C7.47788 9.65985 11.0829 8.16564 14.6974 6.69492C19.8467 4.63534 20.5633 4.33472 21.2594 4.32422C21.5585 4.33365 21.8463 4.44065 22.0793 4.62898C22.3707 4.87766 22.4593 5.03515 22.4841 5.17386C22.507 5.31284 22.5048 5.74581 22.48 5.99255C22.201 8.81281 21.1416 15.3262 20.528 18.4885C20.2678 19.825 19.7555 20.2726 19.2598 20.3163C18.1838 20.4116 17.3659 19.6324 16.323 18.9734C14.6913 17.9433 14.146 17.5642 12.5639 16.5593C10.7317 15.3988 11.4855 14.9946 12.5286 13.9521C12.8013 13.6808 17.3246 9.53839 17.3926 9.16095C17.4505 8.82939 17.4714 8.78601 17.3227 8.6368C17.1718 8.4876 16.9922 8.50611 16.8766 8.53098C16.7113 8.56635 14.2204 10.1474 9.39962 13.2768C8.66019 13.7678 7.99098 14.0063 7.3898 13.9938C6.72885 13.9792 5.45461 13.6332 4.50863 13.3368C3.34565 12.972 2.42253 12.7814 2.50514 12.1638C2.54645 11.8425 3.00471 11.5131 3.88266 11.1774Z" fill="%23808285"/></svg>') no-repeat center center;
    border-left: 1px solid var(--border);
    flex-shrink: 0;     
}
@media (min-width: 576px) {
    .documents__item {
        font-size: 18px;
        line-height: 136%;
    }
}
@media (min-width: 992px) {
    .documents__wrapper {
        display: grid;
        grid-template-columns: 9fr 3fr;
        gap: 20px;
    }
    .documents__title {
        color: var(--primary);
        font-size: 50px;
        line-height: 110%;       
        letter-spacing: -0.04px;
        margin: 25px 0 40px 0;
    }
    .documents__list {
        display: flex;
        flex-direction: column;
    }
    .documents__item {
        color: var(--primary);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-decoration: none;
        background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2L22 12M22 12L12 22M22 12H2" stroke="%23636466"/></svg>') no-repeat right 10px center;
        border-top: 1px solid var(--border);
        padding: 25px 70px 25px 0;
    }
    .sidebar {
        display: block;
    }

}
/* #endregion documents */

/* #region document-content */
.dropdown {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.dropdown__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    border: 1px solid var(--border);
    border-radius: 2px;
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;   
    cursor: pointer;
}
.dropdown__button:after {
    width: 14px;
    height: 8px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3536 1.35355C13.5488 1.15829 13.5488 0.841784 13.3536 0.646522C13.1583 0.45126 12.8418 0.45126 12.6465 0.646522L7.00004 6.29301L1.35355 0.646522L1.27543 0.582069C1.08135 0.453905 0.817386 0.475658 0.646523 0.646522C0.475658 0.817386 0.453905 1.08135 0.582069 1.27543L0.646523 1.35355L6.64652 7.35355C6.84178 7.54882 7.15829 7.54882 7.35355 7.35355L13.3536 1.35355Z" fill="%2352525B"/></svg>') no-repeat center center;
}
.dropdown__content {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--border);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    z-index: 1;
}
.dropdown__item {
    color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; 
    text-decoration: none;  
    cursor: pointer;
}
.dropdown_open .dropdown__button:after {
    transform: rotate(180deg);
}
.dropdown_open .dropdown__content {
    display: flex;
    box-shadow: 0px 8px 16px 0px #09090B0F;
}
@media (min-width: 992px) {
    .dropdown {
        display: none;
    }
}

.documents__content {

}
/* #endregion document-content */